$primary-bgColor: #fdfdfd;
$primary-fontColor: #040c36;
$secondary-bgColor: #121212;
$secondary-fontColor: #fff;
$info-fontColor: #008dff;

$fontsize-large: 64px;
$fontsize-medium: 38px;
$fontsize-small: 16px;

$gutter-medium: 1rem;
